<mat-toolbar color="primary">
    <button mat-button>
      <mat-icon>home</mat-icon>
      Jobs Blobs
    </button>

    <button mat-button *ngIf="!isLoggedIn" [routerLink]="['/login']">
      <mat-icon>login</mat-icon>
        Log In
    </button>

    <button mat-button *ngIf="isLoggedIn" [routerLink]="['/offers']">
      <mat-icon>list</mat-icon>
        Job Offers
    </button>

    <button mat-button *ngIf="isLoggedIn" (click)="logout()">
      <mat-icon>house</mat-icon>
        Log Out
    </button>
    
    <button mat-button *ngIf="isLoggedIn" [routerLink]="['/offer-new']">
      <mat-icon>add_box</mat-icon>
        New Offer
    </button>

    <button mat-button *ngIf="isLoggedIn" (click)="routeToProfile()" >
      <mat-icon>person_outline</mat-icon>
        Profile
    </button>
    
    <button mat-button *ngIf="isLoggedIn" (click)="deleteAccount()">
      <mat-icon>delete</mat-icon>
        Delete Account
    </button>

  </mat-toolbar>